*{
margin: 0;
padding: 0;
}

.title img {

width: 100%;
height: 200px;
object-fit: cover;
display: block;
filter: brightness(70%);

}

.centered {

position: absolute;
top: 125px;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 32px;

}

.navbar ul {

list-style-type: none;
margin: 0px;
padding: 0px;
overflow: hidden;
background: linear-gradient(45deg,#22282B 70%,#84A5B7 70%);

}

.navbar li {
  
float: left;
border-right: 1px solid white;

}

.navbar li a {

display: block;
color: white;
text-decoration: none;
padding-top: 14px;
padding-bottom: 14px;
padding-left: 24px;
padding-right: 24px;
font-size: 40px;
font-family: 'Courier New', monospace;

}

.navbar li a:hover {

background: grey;

}

.active {

background-color: #BFD0D8;

}

.cont1 {

background-color: #BFD0D8;
padding: 30px;
padding-left: 5%;
padding-top: 80px;
font-family: 'Courier New', monospace;

}

.cont1 img {

height: 700px;
width: 20%;
object-fit: cover;
object-position: 60% 80%;

}

.cont1 h1 {

font-size: 60px;

}

.cont1 p {

font-size: 40px;
padding-right: 35%;
padding-top: 60px;
padding-bottom: 60px;

}

.cont2 img {

width: 100%;
height: 900px;
object-fit: cover;
display: block;
filter: brightness(70%);

}

.cont2 .centered {

position: absolute;
color: white;
font-size: 32px;
transform: translate(-50%, 300%);

}

.cont2 h1 {

padding-bottom: 30px;

}

.footer {

margin-top: 70px;
background-color: #EBEBEB;
padding: 50px;

}

.footer li {

display: inline-block;
padding: 14px 16px;
text-decoration: none;
font-family: 'Montsterrat', sans-serif;

}

.footer ul {

list-style-type: none;
display: flex;
justify-content: center;
background-color: #EBEBEB;

}

.footer p {

margin: 0;
padding: 0;
overflow: hidden;
text-align: center;

}